// define palette here
$palette--dark-grey: #3B3E41;
$palette--soft-blue: #5D758E;

$base-text-color: $palette--dark-grey;
$base-font-family: 'Open Sans';
$base-line-height: 1.5;

$color--positive: hsl(100,60%,40%);
$color--negative: $base-text-color;

$color--link: #00f;
$color--date: #555;
$color--category: #aaa;
$color--divider: #ccc;
$color--sidebar-section__bg: $palette--dark-grey;
$color--sidebar-section__bg--selected: $palette--soft-blue;
$color--sidebar-section__link: #fff;
$color--sidebar-section__link--hover: mix(#fff, $palette--dark-grey, 5%);

$weight--heavy: 700;
$weight--bold: 600;
$weight--light: 300;

$font-size--small: 16px;
$font-size--medium: 21px;
$font-size--large: 28px;

$font--table-field: $font-size--medium $base-font-family;
$font--sidebar-section: $weight--bold $font-size--medium $base-font-family;

body {
  margin: 0;
  color: $base-text-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.-positive {
  color: $color--positive;
}

.-negative {
  color: $color--negative;
}
