$transactions-table-spacing: 1em;

.transactions-table {
  font-size: $font-size--small;
  max-width: 400px;
}

.transactions-table__day {
  padding: $transactions-table-spacing;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 352px;
    border-bottom: 1px solid $color--divider;
  }
}

.transactions-table__day__date {
  font-weight: $weight--bold;
  padding-bottom: 0.1em;
  color: $color--date;
}

.transactions-table__day__row {
  display: flex;
  position: relative;
  padding-right: 15px;
  &:hover > .transactions-table__day__row__delete-link {
    display: block;
  }
}

%transactions-table__day__row__field {
  display: block;
  font: $font--table-field;
}

.transactions-table__day__row__amt {
  @extend %transactions-table__day__row__field;
  text-align: right;
  font-weight: $weight--bold;
  flex: 2;
}

.transactions-table__day__row__cat {
  @extend %transactions-table__day__row__field;
  flex: 3;
  color: $color--category;
  font-weight: $weight--light;

  &:last-child {
    margin-right: 0;
  }
}

.transactions-table__day__row__desc {
  @extend %transactions-table__day__row__field;
  display: none;
}

.transactions-table__day__row__delete-link {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: hsl(0, 40%, 50%);
}
